<div class="jumbotron" style="background-color: #F8BBD0;">
	<img class="card-img-top" src="https://thumbs.gfycat.com/FrigidFeminineHorsefly-size_restricted.gif" alt="Responsive image">
   <p class="lead"></p>
  <h1 class="display-4">EventBrite for Britney Fans</h1>
  <hr class="my-4">
  <p>If Britney survived 2007, you can make it through today.</p>
  	<a class="btn btn-success btn-lg" href="<%= new_event_path %>" role="button">New Event</a>
  </p>
</div>

<div class= row style= "display: flex; flex-flow: row wrap; justify-content: space-around">
<% Event.all.order(start_date: :asc).each do |event| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <p class="card-text"><%= event.location %></p>
    <p class="card-text"><%=event.start_date.strftime("%d %m %Y")%></p>
    <a href="<%= event_path(event.id) %>" class="btn btn-outline-primary btn-sm">More</a>
  </div>
</div>
<% end %>
